@import "~tailwindcss/base";

@import "~tailwindcss/components";

.form-input {
  padding: 0.25rem 0.75rem;
  border: 1px solid theme('borderColor.gray.200');
  border-radius: theme('borderRadius.md');

  &[type='number'] {
    padding: 0 0 0 0.5rem;
  }

  &:focus {
    @apply border-indigo-500 outline-none;
  }
}

.form-select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem 1rem;
  appearance: none;
  color-adjust: exact;
  padding: 0.25rem 2.5rem 0.25rem 0.75rem;
  border: 1px solid theme('borderColor.gray.200');
  border-radius: theme('borderRadius.md');

  &:focus {
    @apply border-indigo-500 outline-none;
  }
}

@import "~tailwindcss/utilities";
