<template>
  <div class="w-full md:w-10/12 xl:w-8/12 mx-auto sm:my-5">
    <div class="">
      <router-link :to="{ name: 'index' }">Главная</router-link>
      <router-link :to="{ name: 'create' }">Создать</router-link>
    </div>
    <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow-lg">
      <div class="py-5">
        <div class="px-4">
          <div class="flex items-center justify-between">
            <h3
              class="text-lg leading-normal font-medium text-gray-900 truncate"
            >
              Анкета
            </h3>
            <select class="form-select">
              <option value="fsd">Выбор категории пользователя</option>
              <option value="fsd">Студент</option>
              <option value="fsd">Выпускник</option>
              <option value="fsd">Абитуриент</option>
              <option value="fsd">Родитель</option>
              <option value="fsd">Преподаватель</option>
              <option value="fsd">Школьник</option>
            </select>
          </div>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
            Описание
          </p>
        </div>
        <div class="grid md:grid-cols-2 mt-5">
          <div class="px-4">
            <div
              class="border border-gray-200 p-2 rounded-md"
              :class="i > 0 ? 'mt-3' : ''"
              v-for="(category, i) in categories"
              :key="i"
            >
              <div class="pb-2 border-b border-gray-200">
                <div class="flex items-center justify-between">
                  <h4
                    class="text-lg font-medium text-gray-900"
                    v-text="category.title"
                  ></h4>
                  <span
                    class="text-base"
                    :class="category.total > 100 ? 'text-red-500' : ''"
                    >Вес: {{ totalByCategory(category) }}</span
                  >
                </div>
                <div class="flex">
                  <small
                    class="text-sm leading-tight text-gray-900 truncate cursor-pointer"
                    @click="$event.target.classList.toggle('truncate')"
                    v-text="category.description"
                  ></small>
                </div>
              </div>
              <div
                class="mt-1"
                v-for="(sub, j) in category.subcategories"
                :key="j"
              >
                <div class="flex items-center justify-between">
                  <h4
                    class="text-base font-medium text-gray-900"
                    v-text="sub.title"
                  ></h4>
                  <span class="text-sm">
                    <label :for="'input-' + i + j" class="mr-1"
                      >Вес:
                      <input
                        :id="'input-' + i + j"
                        class="form-input"
                        type="number"
                        min="0"
                        max="100"
                        v-model="sub.value"
                      />
                    </label>
                  </span>
                </div>
                <div class="flex">
                  <small
                    class="text-xs leading-tight text-gray-900 truncate cursor-pointer"
                    @click="$event.target.classList.toggle('truncate')"
                    v-text="sub.description"
                  ></small>
                </div>
              </div>
            </div>
            <div class="border-t border-gray-200 mt-3">
              <div class="flex items-center justify-between mt-1">
                <h4 class="text-lg font-semibold leading-tight">
                  Общий вес всех категорий:
                </h4>
                <span
                  v-text="totalTotal()"
                  class="text-xl font-bold"
                  :class="total > 100 ? 'text-red-500' : ''"
                ></span>
              </div>
            </div>
          </div>
          <div class="px-4 mt-5 md:mt-0 md:border-l md:border-gray-200">
            <div v-for="(field, index) in fields" :key="index">
              <div class="flex items-center justify-between mb-2">
                <input
                  type="text"
                  :placeholder="field.placeholder"
                  class="form-input w-full"
                  v-model="field.value"
                />
                <button
                  class="ml-2 text-red-500 hover:text-red-800 focus:outline-none"
                  @click="removeField(field)"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    class="w-5 h-5"
                  >
                    <path
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
            <button
              class="flex items-center text-sm text-indigo-500 hover:text-indigo-800 focus:outline-none"
              @click="addField"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                class="mr-1 w-4 h-4"
              >
                <path d="M12 4v16m8-8H4"></path></svg
              ><span>Добавить поле</span>
            </button>
          </div>
        </div>
        <div
          class="flex items-center justify-end mt-4 px-4 pt-5 border-t border-gray-200 sm:px-6"
        >
          <button
            type="button"
            class="inline-flex justify-center rounded-md border border-transparent px-4 py-2 bg-indigo-600 text-base leading-normal font-medium text-white shadow-sm hover:bg-indigo-500 focus:outline-none sm:text-sm sm:leading-tight"
            :disabled="total !== 100"
            @click="addForms(categories, fields)"
          >
            Отправить
          </button>
        </div>
      </div>
    </div>
    <div v-for="(form, i) in forms" :key="i">
      <span v-text="form"></span>
    </div>
  </div>
</template>

<script>
import { db } from "../db";
import { CATEGORIES } from "../categories";

export default {
  name: "Edit",
  data() {
    return {
      total: 0,
      categories: CATEGORIES,
      fields: [],
      forms: []
    };
  },
  firestore() {
    return {
      forms: db.collection("forms").orderBy("createdAt")
    };
  },
  methods: {
    addForms(categories, fields) {
      const createdAt = new Date();
      db.collection("forms").add({ categories, fields, createdAt });
    },
    totalTotal() {
      this.total = this.categories.reduce(
        (prev, item) => parseInt(prev) + parseInt(item.total),
        0
      );
      return this.total;
    },
    totalByCategory(cat) {
      cat.total = cat.subcategories.reduce(
        (prev, item) => parseInt(prev) + parseInt(item.value),
        0
      );
      return cat.total;
    },
    addField() {
      this.fields.push({ placeholder: "Введите критерий", value: null });
    },
    removeField(field) {
      let index = this.fields.indexOf(field);
      this.fields.splice(index, 1);
    }
  }
};
</script>
