<template>
  <div class="w-full md:w-10/12 xl:w-8/12 mx-auto sm:my-5">
    <div class="mb-4">
      <router-link
        :to="{ name: 'index' }"
        class="px-2 py-1 text-indigo-500 hover:text-indigo-800 hover:bg-gray-300 rounded"
        >Главная</router-link
      >
      <router-link
        :to="{ name: 'create' }"
        class="px-2 py-1 text-indigo-500 hover:text-indigo-800 hover:bg-gray-300 rounded"
        >Создать</router-link
      >
    </div>
    <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow-lg">
      <div class="py-5">
        <div class="px-4">
          <div class="flex items-center justify-between">
            <h3
              class="text-lg leading-normal font-medium text-gray-900 truncate"
            >
              Анкета
            </h3>
          </div>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-700">
            Данный опрос направлен на сбор информации о важности представленных в анкете критериев оценки удобства использования сайтов высших учебных заведений.
             Задача: разделить 100 баллов между категориями, в зависимости от того насколько они влияют на удобство использования сайтов высших учебных заведений по Вашему мнению.
            Так же следует указать какую информацию Вы ожидаете получить используя сайт учереждения.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../db";

export default {
  name: "Index",
  data() {
    return {
      forms: []
    };
  },
  firestore() {
    return {
      forms: db.collection("forms").orderBy("createdAt")
    };
  }
};
</script>
