<template>
  <div
    class="min-h-screen flex justify-center border-t-4 border-indigo-500 bg-gray-200 sm:items-center"
  >
    <div class="flex flex-1 flex-col min-w-0">
      <div class="container mx-auto">
        <router-view />
      </div>
    </div>
  </div>
</template>
